{% extends "resenas_usuarios.html" %}
{% load static %}
<details style="margin:20px 0;"><summary class="boton-superior" style="cursor:pointer;">Editar Reseña: </summary>
        {% if user.is_authenticated %}
            <form method="POST" class="categoria-bloque" style="margin-top:15px;">
                {% csrf_token %} <!--genera un token unico-->
                {{ form.as_p }} <!--llama a lo que hicimos en forms.py-->
                <button type="submit" class="accion_publicar">Publicar Reseña</button>
            </form>
      
</details>