{% extends "base.html" %}
{% load static %}

{% block title %}
    Reseñas de usuarios
{% endblock %}

<!-- esta pagina si puede volver al inicio-->
{% block navegacion %}
    {% include "componentes/navegacion.html" %}
{% endblock %}

{% block content %} <!-- inicia contenido que se va mostrar-->

    {% if pelicula %}

        <div class="cabecera-pelicula" style="display:flex; gap:20px; align-items:center;">
            {% if pelicula.imagen_portada %}
                <img src="{{ pelicula.imagen_portada.url }}" width="200" style="border-radius:10px;" alt="{{ pelicula.titulo }}">
            {% endif %}
            <div class="info-pelicula">
                <h1 class="titulo-principal">{{ pelicula.titulo }}</h1>
                <h2>Reseñas de usuarios:</h2>
                <p>Promedio: {{ promedio_resenas|floatformat:1 }} / 10</p>
            </div>
        </div>

        <details style="margin:20px 0;"><summary class="boton-superior" style="cursor:pointer;">Agregar reseña</summary>
        {% if user.is_authenticated %}
            <form method="POST" class="categoria-bloque" style="margin-top:15px;">
                {% csrf_token %} <!--genera un token unico-->
                {{ form.as_p }} <!--llama a lo que hicimos en forms.py-->
                <button type="submit" class="accion_publicar">Publicar Reseña</button>
            </form>
        {% else %}
            <a href="{% url 'usuarios:login' %}?next={{ request.path }}">Inicia Sesion</a>
        {% endif %}
        </details>

        <section class="contenedor-aside">

            {% for resena in resenas %}

                <div class="item-aside">
                    <p><b>Calificación:</b> {{ resena.calificacion }}</p>
                    <p class="resena-autor">{{ resena.autor.username }} dice:</p>
                    <p class="resena-texto">"{{ resena.texto }}"</p>


                    <div class="botonera">
                        <!-- Lo ve todo el mundo -->
                        <button class="btn">Reportes {{ resena.reportes }}</button>
                        
                        <!-- SOLO lo ve el autor de la reseña -->
                        {% if resena.autor_id == user.id %}
                            <a href="{% url 'peliculas:editar_resenas' resena.pk %}" class="btn">Editar</a>
                            <button class="btn">Eliminar</button> 
                        {% endif %} 

                        <!-- Lo ve todo el mundo otra vez -->
                        <a class="btn">{{ resena.comentarios_count }} Comentarios</a>
                        <button class="btn">Ocultar</button>
                    </div>



                    
                </div>
                {% empty %}
                <p>No hay reseñas publicadas.</p>
            {% endfor %}

        </section>

        {% else %}
        <p>Película no encontrada.</p>

    {% endif %}
{%endblock%} 
